body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.responsive {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: auto;
}
